<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Ninja</title>
</head>
<body>
    <h1>Edit Ninja {{ninja.first_name}}</h1>
    <form action="/apply/edit" method="post">
        <input type="hidden" name="id" value="{{ninja.id}}">
        <label for="first_name">
            First Name:
            <input type="text" name="first_name" id="first_name" placeholder="{{ninja.first_name}}">
        </label>
        <label for="last_name">
            Last Name:
            <input type="text" name="last_name" id="last_name" placeholder="{{ninja.last_name}}">
        </label>
        <label for="age">
            Age:
            <input type="text" name="age" id="age" placeholder="{{ninja.age}}">
        </label>
        <button>Submit</button>
    </form>
    <a href="/dojo/{{session["ninja_dojo_id"]}}">Back to Dojo</a>
</body>
</html>