<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Order</title>
</head>
<body>
    <nav>
        <h1>Edit Order</h1>
        <a href="/cookies">Back to purchases</a>
    </nav>
    <div>
        <form action="/edit/order" method="post">
            {%with messages=get_flashed_messages()%}
                    {%if messages%}
                        {%for message in messages%}
                            <p>{{message}}</p>
                        {%endfor%}
                    {%endif%}
                {%endwith%}
            <input type="hidden" name="id" value="{{order.id}}">
            <label for="customer_name">
                Name:
                <input type="text" name="customer_name" value="{{order.customer_name}}">
            </label>
            <label for="cookie_type">
                Cookie Type:
                <input type="text" name="cookie_type" value="{{order.cookie_type}}">
            </label>
            <label for="num_of_boxes">
                Number of Boxes:
                <input type="number" name="num_of_boxes" value="{{order.num_of_boxes}}">
            </label>
            <button>Edit Order</button>
        </form>
    </div>
</body>
</html>